body {
  background-image: linear-gradient(to bottom, #a400fd, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  text-decoration: none;
}

.box {
  font-size: 20px;
  color: #fff;
  height: 250px;
  width: 350px;
  border-radius: 16px;

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 150px;
}

button {
  height: 30px;
  width: 50px;
  background: #fff;
  border-radius: 5px;
  color: #660995;
  font-weight: 600;
}
img {
  height: 300px;
  width: 200px;
}
footer {
  left: 800px;
}
